@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display+SC');
body{
  background-color: #D1AC61;
}
.App {
  padding: 1em;
}

label {
  display: inline-block;
  width: 100px;
}

header{ 
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
border-radius: 20px;
}
/* typography */
h1{
  border-radius: 20px;
  background-color: #D9AF65;
  color: #5A3B0C;
  font-family:"Playfiar Display SC";
  text-align: center;
  font-size: 64px;  
}
.recipe-list, form {
  color: #413620;
  margin-bottom: 50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}
::placeholder{
  padding: 4px 2px;
}
input, textarea{
  
  border: 1px solid black;
  background-color: #F9F5C7;
}
html {
  font-family: 'helvetica neue', sans-serif;
}

thead th, tfoot th {
  font-family: 'Rock Salt';
}

th {
  letter-spacing: 2px;
  padding: 10px;
}

td {
  letter-spacing: 1px;
  overflow-x:hidden;
  overflow-y:hidden;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}

/* table */

table {
  background-color: #AE8532;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  overflow:hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.content_td p{
  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;
  text-overflow: ellipsis;
}


thead{
  border-bottom: 1px solid black;
}

img{
	object-fit: scale-down;
	width: 100%;
	height: 100%;
}